.map{
    border: 1pt solid #000000;
}

.field{
	    border: 1pt solid #ffffff;
		width:32px;
		height:32px;
}

.field:hover{
        border:1pt solid #ff0000;
    }

.grass{
		background-image: url(pictures/grass.png);
}

.mountain{
		background-image: url(pictures/mountain.png);
}

.water{
		background-image: url(pictures/water.png);
}



