table{
    border-collapse:collapse;
}

td{
    width:20px;
    height:20px;
    background-color:#ffffff;
    border: 1pt solid #000000;
}

td.gras{
    background-color:#00ff00;
}

td.mountain{
    background-color:#996600;
}

td.water{
    background-color:#0000ff
}