.map{
    border: 0pt solid #000000;
}

.field{
	    border: 1pt solid #ffffff;
		width:32px;
		height:32px;
		float:left;
}

.grass{
		background-image: url(../pictures/grass.png);
}

.mountain{
		background-image: url(../pictures/mountain.png);
}

.water{
		background-image: url(../pictures/water.png);
}

#overlay{
	position:absolute;
	top:0;
	left:0;
	zIndex:90;
 	width:100%;
 	height:100%
	background-image: url(../pictures/overlay.png);
	}

#Messagebox{
	display:none;
	position:absolute';
	zIndex:100;	
	}
[status="a"]{
border: 1pt solid #000000;
}

[status="b"]{
border: 1pt solid #aaccff;
}