#body{
	width: 100%;
	height:100%;
	}

.coordinate{
		border: 1pt solid #ffffff;
		width:30px;
		height:30px;
		float:left;
		text-align:center;
		vertical-align:middle;
	}

.map{
    border: 0pt solid #000000;
}

.field{
	    border: 1pt solid #ffffff;
		width:32px;
		height:32px;
		float:left;
}

.grass{
		background-image: url(../pictures/grass.png);
}

.mountain{
		background-image: url(../pictures/mountain.png);
}

.water{
		background-image: url(../pictures/water.png);
}

#overlay{
position:absolute;
background-image:url(../pictures/messageBox/overlay.png);
}

.TopL, .MiddleL, .BottomL{
width:9px;
}

.TopC, .MiddleC, .BottomC{
width:200px;
}

.TopR, .MiddleR, .BottomR{
width:10px;
}

.TopL, TopC, TopR{
height:9px;
}

.MiddleL, MiddleC, MiddleR{
height:132px;
}

.BottomL, BottomC, BottomR{
height:12px;
}

.TopL{
background-image:url(../pictures/messageBox/MsgBoxBackTL.gif);
}
.TopC{
background-image:url(../pictures/messageBox/MsgBoxBackTC.gif);
}
.TopR{
background-image:url(../pictures/messageBox/MsgBoxBackTR.gif);
}

.MiddleL{
background-image:url(../pictures/messageBox/MsgBoxBackML.gif);
}
.MiddleC{
background-image:url(../pictures/messageBox/MsgBoxBackMC.gif);
padding-left:10px;
}
.MiddleR{
background-image:url(../pictures/messageBox/MsgBoxBackMR.gif);
}

.BottomL{
background-image:url(../pictures/messageBox/MsgBoxBackBL.gif);
}
.BottomC{
background-image:url(../pictures/messageBox/MsgBoxBackBC.gif);
}
.BottomR{
background-image:url(../pictures/messageBox/MsgBoxBackBR.gif);
}

.messageBoxPlaceholder{
font:bold 10pt Verdana;
}

#messageBoxContentTable{
border-collapse:collapse;
}