#body{
	width: 100%;
	height:100%;
	}

#gameContent{
	width: 50%;
	heigth: 50%;
	align: left;
	background-color:fefefe;
	border: 1pt solid ededed;
	}

.coordinate{
		border: 1pt solid #ffffff;
		width:32px;
		height:32px;
		float:left;
		text-align:center;
		vertical-align:middle;
	}
.map{
    border: 0pt solid #000000;
}

.field{
	    border: 1pt solid #ffffff;
		width:32px;
		height:32px;
		float:left;
}

.grass{
		background-image: url(../pictures/grass.png);
}

.mountain{
		background-image: url(../pictures/mountain.png);
}

.water{
		background-image: url(../pictures/water.png);
}

#messageBox{
	position:absolute;
	background-image:url(../pictures/overlay.png);
	width:1px;
	height:1px;
	visibility:hidden;
	padding-left:20%;
	padding-top:13%;
	}

#centeredText{
	width:30%;
	height:30%;
	text-align:center;
	vertical-align:middle;
	background-color:white;
	}